*.png
*_
*.e????
*.o????

# Open office crap
.~lock*

# Vim crud
*~
*.swp
*.swo

# Emacs execrement

/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Apple stuff

.DS_Store

# R Stuff

.RData
.Rhistory

*.png
*.out

ssrep.db

*.pdf


